<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script>
      var demoApp = angular.module('myApp',["ngMessages"])
        .controller( "LoginCtrl", ['$scope', function($scope) {
        	$scope.success1 = false;
 			$scope.login = function() {
 				$scope.success1=true;
 			}
 		}])
 		.controller( "LogupCtrl", ['$scope', function($scope) {
        	$scope.success2 = false;
 			$scope.logup = function() {
 				$scope.success2=true;
 			}
 		}]);

		 var compareTo = function() {
		    return {
		      require: "ngModel",
		      scope: {
		        otherModelValue: "=compareTo"
		      },
		      link: function(scope, element, attributes, ngModel) {

		        ngModel.$validators.compareTo = function(modelValue) {
		          return modelValue == scope.otherModelValue;
		        };

		        scope.$watch("otherModelValue", function() {
		          ngModel.$validate();
		        });
		      }
		    };
		  };

		  demoApp.directive("compareTo", compareTo);
 		
    </script>
<!--     <script src="script.js"></script>
 -->    
</head>

<body ng-app="myApp">
    <div class="login-wrap">
        <div class="login-html" >
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">ĐĂNG NHẬP</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab">ĐĂNG KÝ</label>

            <div class="login-form" >
                <form  th:action="@{/login}" method="POST" class="sign-in-htm"  ng-controller="LoginCtrl" name="signinform" ng-submit="login()" novalidate>

                    <!-- <div class="group">
                        <label for="username" class="label">TÊN ĐĂNG NHẬP</label>
                        <input name="email" type="text" class="input" placeholder="Tên đăng nhập" ng-model="username" ng-minlength="6" ng-maxlength="50" ng-pattern="/^[a-zA-Z]+$/" required>
                        <i ng-show="signinform.username.$dirty && signinform.username.$valid"></i>

                        <div ng-show="signinform.username.$dirty && signinform.username.$invalid" class="text-danger">
                            <span ng-show="signinform.username.$error.required">Họ tên không được bỏ trống</span>
                            <span ng-show="signinform.username.$error.minlength">Họ tên phải dài hơn 6 kí tự</span>
                            <span ng-show="signinform.username.$error.maxlength">Họ tên phải ngắn hơn 50 kí tự</span>                          
                        </div>
                    </div> -->
					<div class="group">
					    <!-- <label for="email" class="label">Email</label> -->
					    
				        <input name="email" type="email" class="input" placeholder="Email" ng-model="email" autocomplete="off" required >
				        <i ng-show="signupform.email.$dirty && signupform.email.$valid"></i>
				        <div ng-show="signupform.email.$dirty && signupform.email.$invalid" class="text-danger">
				            <span ng-show="signupform.email.$error.required">Chưa nhập địa chỉ email</span>
				            <span ng-show="signupform.email.$error.email">Không đúng định dạng email</span>
				        </div>
					    
					</div>
					<div class="group">
				        <!-- <label for="password" class="label">MẬT KHẨU</label> -->
			            <input name="password" ng-model="password" type="password" value="" class="input" placeholder="Mật khẩu" ng-minlength="6" ng-maxlength="30" required>
			            <i ng-show="signinform.password.$dirty && signinform.password.$valid"></i>

			            <div ng-show="signinform.password.$dirty && signinform.password.$invalid" class="text-danger">
				            <span ng-show="signinform.password.$error.required">Mật khẩu không được bỏ trống</span>
				            <span ng-show="signinform.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
				            <span ng-show="signinform.password.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
			            </div>
					</div>

					<div class="group">
                        <input type="checkbox" class="check" checked>
                        <label><span class="icon"></span>Ghi nhớ đăng nhập</label>
                    </div>

                    <div class="group">
                        <button style="color:white" type="submit" class="button" ng-disabled="!signinform.$dirty || (signinform.$dirty && signinform.$invalid)"><i class="fa fa-sign-in"></i>
							<a href="index-user.html">Đăng nhập</a> 
						</button>
                    </div>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#" class="forgot">Quên mật khẩu?</a>
                    </div>

                   	<div class="group">
            			<div ng-show="success1" align="center" style="color:red">
            				Đăng nhập thành công !
            			</div>
            		</div>
                </form>

                 <form  class="sign-up-htm"  ng-controller="LogupCtrl" name="signupform" ng-submit="logup()" novalidate>

					<div class="group">
                        <!-- <label for="username" class="label">TÊN ĐĂNG NHẬP</label> -->
                        <input name="username" type="text" class="input" placeholder="Tên đăng nhập" ng-model="username" ng-minlength="6" ng-maxlength="50" ng-pattern="/^[a-zA-Z]+$/" required>
                        <i ng-show="signupform.username.$dirty && signupform.username.$valid"></i>

                        <div ng-show="signupform.username.$dirty && signupform.username.$invalid" class="text-danger">
                            <span ng-show="signupform.username.$error.required">Tên đăng nhập không được bỏ trống</span>
                            <span ng-show="signupform.username.$error.minlength">Tên đăng nhập phải dài hơn 6 kí tự</span>
                            <span ng-show="signupform.username.$error.maxlength">Tên đăng nhập phải ngắn hơn 50 kí tự</span>                          
                        </div>
                    </div>

					<div class="group">
				        <!-- <label for="password" class="label">MẬT KHẨU</label> -->
			            <input name="password" ng-model="password" type="password" value="" class="input" placeholder="Mật khẩu" ng-minlength="6" ng-maxlength="30" required>
			            <i ng-show="signupform.password.$dirty && signupform.password.$valid"></i>
 						<div ng-messages="signupform.password.$error" ng-messages-include="messages.html"></div>
			            <div ng-show="signupform.password.$dirty && signupform.password.$invalid" class="text-danger">
				            <span ng-show="signupform.password.$error.required">Mật khẩu không được bỏ trống</span>
				            <span ng-show="signupform.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
				            <span ng-show="signupform.password.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
			            </div>
					</div>

					<div class="group">
				        <!-- <label for="repassword" class="label">XÁC NHẬN MẬT KHẨU</label> -->
			            <input name="repassword" ng-model="repassword" type="password" value="" class="input" placeholder="Xác nhận mật khẩu" ng-minlength="6" ng-maxlength="30" required compare-to="password">
			            <i ng-show="signupform.repassword.$dirty && signupform.repassword.$valid"></i>
						<div ng-messages="signupform.repassword.$error" ng-messages-include="messages.html"></div>
			            <div ng-show="signupform.repassword.$dirty && signupform.repassword.$invalid" class="text-danger">
				            <span ng-show="signupform.repassword.$error.required">Mật khẩu không được bỏ trống</span>
				            <span ng-show="signupform.repassword.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
				            <span ng-show="signupform.repassword.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
			            </div>
					</div>                  

					<div class="group">
					    <!-- <label for="email" class="label">Email</label> -->
					    
				        <input name="email" type="email" class="input" placeholder="Email" ng-model="email" autocomplete="off" required >
				        <i ng-show="signupform.email.$dirty && signupform.email.$valid"></i>
				        <div ng-show="signupform.email.$dirty && signupform.email.$invalid" class="text-danger">
				            <span ng-show="signupform.email.$error.required">Chưa nhập địa chỉ email</span>
				            <span ng-show="signupform.email.$error.email">Không đúng định dạng email</span>
				        </div>
					    
					</div>

                   
					<div class="group">
                        <button style="color:white" type="submit" class="button" ng-disabled="!signupform.$dirty || (signupform.$dirty && signupform.$invalid)"><i class="fa fa-sign-in"></i>
							Đăng ký
						</button>
                    </div>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
                    </div>
            		<div class="group">
            			<div ng-show="success2" align="center" style="color:red">
            				Đăng ky thành viên thành công !
            			</div>
            		</div>
            	</form><!-- end tag sign-up-htm -->
        	</div><!--end tag login-form-->
    	</div> <!--end tag login-html-->
    </div><!--end tag login-wrap-->  
</body>

</html>