<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/signup.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>

 <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" /> -->
    <script>
        var demoApp = angular.module('myApp',["ngMessages"])
        .controller( "LoginCtrl", ['$scope', function($scope) {
        	$scope.success1 = false;
 			$scope.login = function() {
 				$scope.success1=true;
 			}
 		}])
 		.controller( "LogupCtrl", ['$scope', function($scope) {
        	$scope.success2 = false;
 			$scope.logup = function() {
 				$scope.success2=true;
 			}
 		}]);
 		// var app = angular.module("myApp", ["ngMessages"]);

		 var compareTo = function() {
		    return {
		      require: "ngModel",
		      scope: {
		        otherModelValue: "=compareTo"
		      },
		      link: function(scope, element, attributes, ngModel) {

		        ngModel.$validators.compareTo = function(modelValue) {
		          return modelValue == scope.otherModelValue;
		        };

		        scope.$watch("otherModelValue", function() {
		          ngModel.$validate();
		        });
		      }
		    };
		  };

		  demoApp.directive("compareTo", compareTo);

    </script>
    <script>
    	
    </script>
   
</head>

<body ng-app="myApp">
     <!-- <form  class="sign-up-htm"   name="signupform" ng-submit="logup()" novalidate>
					       
        <div class="group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="password" required />
        </div>
        <div class="group">
            <label>Confirm Password</label>
            <input type="password" name="repassword" class="form-control" 
                   ng-model="repassword" 
                   required compare-to="password" />
            

        </div>
        <div class="group">
            <button type="submit" class="btn btn-primary">Register!</button>
        </div>
    </form>  -->
				     <form  class="sign-up-htm"  ng-controller="LogupCtrl" name="signupform" ng-submit="logup()" novalidate>

					<div class="group">
                        <label for="username" class="label">Username</label>
                        <input name="username" type="text" class="input" placeholder="Tên đăng nhập" ng-model="username" ng-minlength="6" ng-maxlength="50" ng-pattern="/^[a-zA-Z]+$/" required>
                        <i ng-show="signupform.username.$dirty && signupform.username.$valid"></i>

                        <div ng-show="signupform.username.$dirty && signupform.username.$invalid" class="text-danger">
                            <span ng-show="signupform.username.$error.required">Họ tên không được bỏ trống</span>
                            <span ng-show="signupform.username.$error.minlength">Họ tên phải dài hơn 6 kí tự</span>
                            <span ng-show="signupform.username.$error.maxlength">Họ tên phải ngắn hơn 50 kí tự</span>                          
                        </div>
                    </div>

					<div class="group">
				        <label for="password" class="label">PASSWORD</label>
			            <input name="password" ng-model="password" type="password" value="" class="input" placeholder="Password" ng-minlength="6" ng-maxlength="30" required>
			            <i ng-show="signupform.password.$dirty && signupform.password.$valid"></i>
 						<div ng-messages="signupform.password.$error" ng-messages-include="messages.html"></div>
			            <div ng-show="signupform.password.$dirty && signupform.password.$invalid" class="text-danger">
				            <span ng-show="signupform.password.$error.required">Mật khẩu không được bỏ trống</span>
				            <span ng-show="signupform.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
				            <span ng-show="signupform.password.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
			            </div>
					</div>

					<div class="group">
				        <label for="repassword" class="label">REPEAT PASSWORD</label>
			            <input name="repassword" ng-model="repassword" type="password" value="" class="input" placeholder="Repeat Password" ng-minlength="6" ng-maxlength="30" required compare-to="password">
			            <i ng-show="signupform.repassword.$dirty && signupform.repassword.$valid"></i>
						<div ng-messages="signupform.repassword.$error" ng-messages-include="messages.html"></div>
			            <div ng-show="signupform.repassword.$dirty && signupform.repassword.$invalid" class="text-danger">
				            <span ng-show="signupform.repassword.$error.required">Mật khẩu không được bỏ trống</span>
				            <span ng-show="signupform.repassword.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
				            <span ng-show="signupform.repassword.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
			            </div>
					</div>
                    
   

					<div class="group">
					    <label for="email" class="label">Email</label>
					    
				        <input name="email" type="email" class="input" placeholder="Email" ng-model="email" autocomplete="off" required >
				        <i ng-show="signupform.email.$dirty && signupform.email.$valid"></i>
				        <div ng-show="signupform.email.$dirty && signupform.email.$invalid" class="text-danger">
				            <span ng-show="signupform.email.$error.required">Bạn chưa nhập địa chỉ email</span>
				            <span ng-show="signupform.email.$error.email">Không đúng định dạng email</span>
				        </div>
					    
					</div>

                   
					<div class="group">
                        <button type="submit" class="button" ng-disabled="!signupform.$dirty || (signupform.$dirty && signupform.$invalid)"><i class="fa fa-sign-in"></i>
							Log Up
						</button>
                    </div>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
                    </div>
            		<div class="group">
            			<div ng-show="success2" align="center" style="color:red">
            				Đăng ky thành viên thành công !
            			</div>
            		</div>
            	</form>

</body>

</html>