<div class="col-md-12">
 <!-- DATA TABLE -->
 <div class="table-responsive table-responsive-data2">
     <table class="table table-data2">
         <thead>
             <tr>
                 <th>email</th>
                 <th>ten</th>
                 <th>action</th>
             </tr>
         </thead>
         <tbody>
             <tr class="tr-shadow" ng-repeat="user in listUser">
                 <td>{{user.email}}</td>
                 <td>{{user.fullname}}</td>
                 <!-- <td><button ng-click="deleteUser(user.email)">Delete</button></td> -->
                 <td><button ng-click="doDelete(user.email)">Delete</button></td>
                 
             </tr>
         </tbody>
       </table>
     </div>
  </div>
	