<!-- <h1>Register</h1>
<input type="text" ng-model="userData.username"/>
<input type="text" ng-model="userData.password"/>
<input type="text" ng-model="userData.email"/>
<button ng-click="doLogup()">Logup</button>
<h5>{{errorMessage}}</h5> -->


<div class="login-wrap">
	<div class="login-html">
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked> 
		<label for="tab-2" class="tab">ĐĂNG KÝ</label>
		
		<div class="login-form">
			<form class="sign-up-htm" name="signupform" novalidate>
			
				<div class="group">
                	<input name="fullname" type="text" class="input" placeholder="Tên đăng nhập" ng-model="userData.username" ng-minlength="6" ng-maxlength="50" ng-pattern="/^[a-zA-Z]+$/" required>
                    <i ng-show="signupform.fullname.$dirty && signupform.fullname.$valid"></i>

                    <div ng-show="signupform.fullname.$dirty && signupform.fullname.$invalid" class="text-danger">
                        <span ng-show="signupform.fullname.$error.required">Tên đăng nhập không được bỏ trống</span>
                        <span ng-show="signupform.fullname.$error.minlength">Tên đăng nhập phải dài hơn 6 kí tự</span>
                        <span ng-show="signupform.fullname.$error.maxlength">Tên đăng nhập phải ngắn hơn 50 kí tự</span>                          
                    </div>
                 </div>
			
				<div class="group">					    
			        <input name="email" type="email" class="input" placeholder="Email" ng-model="userData.email" autocomplete="off" >
			        <i ng-show="signupform.email.$dirty && signupform.email.$valid"></i>
			        <div ng-show="signupform.email.$dirty && signupform.email.$invalid" class="text-danger">
			            <span ng-show="signupform.email.$error.required">Chưa nhập địa chỉ email</span>
			            <span ng-show="signupform.email.$error.email">Không đúng định dạng email</span>
			        </div>	   
				</div>
			
				<div class="group">
		            <input name="password" ng-model="userData.password" type="text" class="input" placeholder="Mật khẩu" ng-minlength="6" ng-maxlength="30"/>
		            <i ng-show="signinform.password.$dirty && signinform.password.$valid"></i>
					<div ng-messages="signinform.password.$error" ng-messages-include="messages.html"></div>
		            <div ng-show="signinform.password.$dirty && signinform.password.$invalid" class="text-danger">
			            <span ng-show="signinform.password.$error.required">Mật khẩu không được bỏ trống</span>
			            <span ng-show="signinform.password.$error.minlength">Mật khẩu phải dài hơn 6 kí tự</span>
			            <span ng-show="signinform.password.$error.maxlength">Mật khẩu phải ngắn hơn 30 kí tự</span>
		            </div>
				</div>
							
				<div class="group">
					<button ng-click="doLogup()" style="color: white" class="button">
						<i class="fa fa-sign-in"></i> Đăng ky
					</button>
				</div>
			</form>
			
			
		</div>
	</div>
</div>